# 1203 숙제
- Bubble sort
- Insertion sort
- Stock price 데이터 읽기

### Bubble sort
- lst의 맨 끝에 maximum 값을 채워 넣는 식으로 구현할 수 있다.
- 이 때 크기 2짜리인 sliding window 가 움직이는 것으로 생각하고, window 안에서 원하는 조건일 때 원소를 swap 한다.
    - window는 아래 예시에서 [..., <span style="color:blue">원소1, 원소2</span>, ...] 처럼 표시한다.
- 예시) 
    + [5, 1, 2, 6, 2, 1, 3, 0] 가 주어졌다. 
    + stage 0: [5, 1, 2, 6, 2, 1] 에서 최대값은 6이다. 목표는 6을 맨 뒤로 밀어 넣는 것.
        * [<span style="color:blue">5, 1</span>, 2, 6, 2, 1]: {5, 1} 에서 5가 크니까 뒤로 보낸다. 즉, 5와 1의 순서를 바꾼다.
        * [<span style="color:blue">1, 5</span>, 2, 6, 2, 1]: 이 되었다.
        * [1, <span style="color:blue">5, 2</span>, 6, 2, 1]: {5, 2} 에서 5가 크니까 뒤로 보낸다. 즉, 5와 2의 순서를 바꾼다.
        * [1, <span style="color:blue">2, 5</span>, 6, 2, 1]: 이 되었다.
        * [1, 2, <span style="color:blue">5, 6</span>, 2, 1]: {5, 6} 에서 6이 크니까 그대로 둔다.
        * [1, 2, 5, <span style="color:blue">6, 2</span>, 1]: {6, 2} 에서 6이 크니까 뒤로 보낸다. 즉, 6과 2의 순서를 바꾼다.
        * [1, 2, 5, <span style="color:blue">2, 6</span>, 1]: 이 되었다.
        * [1, 2, 5, 2, <span style="color:blue">6, 1</span>]: {6, 1} 에서 6이 크니까 뒤로 보낸다. 즉, 6과 1의 순서를 바꾼다.
        * [1, 2, 5, 2, <span style="color:blue">1, 6</span>]: 이 되었다. 끝에 도달했으니 stage 0은 끝이 난다.
    + stage 1: [1, 2, 5, 2, 1, <span style="color:green">6</span>] 에서 마지막 6을 제외하고 최대값은 5이다. 목표는 5를 6 바로 앞까지 뒤로 밀어 넣는 것.
        * [<span style="color:blue">1, 2</span>, 5, 2, 1, <span style="color:green">6</span>]: {1, 2} 에서 순서가 잘 맞으니 그대로 둔다.
        * [1, <span style="color:blue">2, 5</span>, 2, 1, <span style="color:green">6</span>]: {2, 5} 에서 순서가 잘 맞으니 그대로 둔다.
        * [1, 2, <span style="color:blue">5, 2</span>, 1, <span style="color:green">6</span>]: {5, 2} 에서 순서가 뒤바뀌었으니 순서를 바꾼다.
        * [1, 2, <span style="color:blue">2, 5</span>, 1, <span style="color:green">6</span>]: 가 되었다.
        * [1, 2, 2, <span style="color:blue">5, 1</span>, <span style="color:green">6</span>]: {5, 1} 에서 순서가 뒤바뀌었으니 순서를 바꾼다.
        * [1, 2, 2, <span style="color:blue">1, 5</span>, <span style="color:green">6</span>]: 가 되었다. 끝에 도달했으니 stage 1은 끝이 난다.
    + stage 2: [1, 2, 2, 1, <span style="color:green">5, 6</span>] 에서 목표는 2를 뒤로 밀어 넣는 것. 아래에는 자세한 설명을 생략하고 lst의 변화 양상만을 포함. 
        * [<span style="color:blue">1, 2</span>, 2, 1, <span style="color:green">5, 6</span>]
        * [1, <span style="color:blue">2, 2</span>, 1, <span style="color:green">5, 6</span>]
        * [1, 2, <span style="color:blue">2, 1</span>, <span style="color:green">5, 6</span>]: Swap 필요
        * [1, 2, <span style="color:blue">1, 2</span>, <span style="color:green">5, 6</span>]: 가 되었다. 끝에 도달했으니 stage 2는 끝이 난다.
    + stage 3: [1, 2, 1, <span style="color:green">2, 5, 6</span>] 에서 목표는 2를 뒤로 밀어 넣는 것.
        * [<span style="color:blue">1, 2</span>, 1, <span style="color:green">2, 5, 6</span>]
        * [1, <span style="color:blue">2, 1</span>, <span style="color:green">2, 5, 6</span>]: Swap 필요
        * [1, <span style="color:blue">1, 2</span>, <span style="color:green">2, 5, 6</span>]: 가 되었다. 끝에 도달했으니 stage 3은 끝이 난다.
    + stage 4: [1, 1, <span style="color:green">2, 2, 5, 6</span>]: 에서 목표는 1을 가장 뒤에 두는 것.
        * [<span style="color:blue">1, 1</span>, <span style="color:green">2, 2, 5, 6</span>]: Swap 필요 없고, 끝에 도달했으니 stage 4는 끝이 난다.
    + 끝!

In [1]:
def bubble_sort(lst):
    for stage in range(0, len(lst)):
        # lst[len(lst) - stage: len(lst)] 부분을 sorted 로 만드는 것이 목표.
        # 이 때, lst[len(lst) - stage] 에 현재 stage의 최대값을 넣는 것이 목표.
        
        for j in range(0, len(lst) - stage - 1):
            # j는 현재 window의 왼쪽 값 (가장 앞의 값)을 의미한다.            
            if lst[j] > lst[j + 1]:
                # Swap lst[j] and lst[j + 1]
                lst_j = lst[j]
                lst[j] = lst[j + 1]
                lst[j + 1] = lst_j

In [11]:
lst = [5, 1, 2, 6, 2, 1, 3, 0]
print('before sorted:', lst)
bubble_sort(lst)
print('after sorted:', lst)

before sorted: [5, 1, 2, 6, 2, 1, 3, 0]
after sorted: [0, 1, 1, 2, 2, 3, 5, 6]

### Insertion sort
- lst 의 앞 부분에 sorted array를 완성시켜나가는 방식이다. 원소 하나씩 하나씩 앞 부분에 넣어간다.
- 예시) 
    + [5, 1, 2, 6, 2, 1, 3, 0] 가 주어졌다. 
    + Stage 0: lst[0: 0 + 1] 부분을 sorted array로 만드는 것이 목표.
        - [<span style="color:blue">{</span>5<span style="color:blue">}</span>, 1, 2, 5, 2, 1, 3, 0] 에서 {5}는 sorted 완료. Stage 0 완료.
    + Stage 1: lst[0: 1 + 1] 부분을 sorted array로 만드는 것이 목표.
        - [<span style="color:blue">{</span>5<span style="color:blue">}</span>, <span style="color:green">1</span>, 2, 5, 2, 1, 3, 0] 에서 <span style="color:green">1</span>을 sorted array 안에 넣는다.
        - [<span style="color:blue">{</span>1, 5<span style="color:blue">}</span>, 2, 5, 2, 1, 3, 0] 이 된다. Stage 1 완료.
    + Stage 2: lst[0: 2 + 1] 부분을 sorted array로 만드는 것이 목표.
        - [<span style="color:blue">{</span>1, 5<span style="color:blue">}</span>, <span style="color:green">2</span>, 5, 2, 1, 3, 0] 에서 <span style="color:green">2</span> 를 sorted array 안에 넣는다.
        - [<span style="color:blue">{</span>1, 2, 5<span style="color:blue">}</span>, 5, 2, 1, 3, 0] 이 된다. Stage 2 완료.
    + Stage 3: lst[0: 3 + 1] 부분을 sorted array로 만드는 것이 목표.
        - [<span style="color:blue">{</span>1, 2, 5<span style="color:blue">}</span>, 5, 2, 1, 3, 0] 에서
        - [<span style="color:blue">{</span>1, 2, 5, 5<span style="color:blue">}</span>, 2, 1, 3, 0] 가 된다.
    + Stage 4: lst[0: 4 + 1] 부분을 sorted array로 만드는 것이 목표.
        - [<span style="color:blue">{</span>1, 2, 5, 5<span style="color:blue">}</span>, 2, 1, 3, 0] 에서
        - [<span style="color:blue">{</span>1, 2, 2, 5, 5<span style="color:blue">}</span>, 1, 3, 0] 가 된다.
    + Stage 5: lst[0: 5 + 1] 부분을 sorted array로 만드는 것이 목표.
        - [<span style="color:blue">{</span>1, 2, 2, 5, 5<span style="color:blue">}</span>, 1, 3, 0] 에서
        - [<span style="color:blue">{</span>1, 1, 2, 2, 5, 5<span style="color:blue">}</span>, 3, 0] 가 된다.
    + Stage 6: lst[0: 6 + 1] 부분을 sorted array로 만드는 것이 목표.
        - [<span style="color:blue">{</span>1, 1, 2, 2, 5, 5<span style="color:blue">}</span>, 3, 0] 에서
        - [<span style="color:blue">{</span>1, 1, 2, 2, 3, 5, 5<span style="color:blue">}</span>, 0] 가 된다.
    + Stage 7: lst[0: 7 + 1] 부분을 sorted array로 만드는 것이 목표.
        - [<span style="color:blue">{</span>1, 1, 2, 2, 3, 5, 5<span style="color:blue">}</span>, 0] 에서
        - [<span style="color:blue">{</span>0, 1, 1, 2, 2, 3, 5, 5<span style="color:blue">}</span>] 가 된다.

In [16]:
def insertion_sort(lst):
    for stage in range(0, len(lst)):
        # Current stage에서는
        # - lst[0: stage] 가 현재로서는 sorted array이고
        # - lst[0: stage + 1] 을 sorted array로 만들 예정이다.
        
        target_to_put_in = lst[stage]
        
        # target_to_put_in 을 lst[0: stage] 안에 잘 넣는다.
        for j in range(0, stage):
            if lst[j] > target_to_put_in:
                # lst[0: j] < target_to_put_in < lst[j: stage]
                # target_to_put_in을 lst[0: j]와 lst[j: stage] 사이에 넣는다.
                
                # lst[j: stage] 를 뒤로 한 칸 밀고
                lst[j + 1: stage + 1] = lst[j: stage]
                
                # lst[j] 에다가 target_to_put_in을 넣는다.
                lst[j] = target_to_put_in
                
                # target_to_put_in을 제 자리에 두었으니, loop를 종료한다.
                # 종료하지 않으면 어떤 일이 생길까?
                break

In [17]:
lst = [5, 1, 2, 6, 2, 1, 3, 0]
print('before sorted:', lst)
insertion_sort(lst)
print('after sorted:', lst)

before sorted: [5, 1, 2, 6, 2, 1, 3, 0]
after sorted: [0, 1, 1, 2, 2, 3, 5, 6]

### Stock price data 읽기

In [19]:
import pandas as pd

stock_data = pd.read_csv('./A_data.csv', sep=',')
stock_data

            Date   Open   High    Low  Close    Volume Name
0     2012-08-13  40.27  40.70  40.15  40.38   1860798    A
1     2012-08-14  40.62  40.95  40.25  40.49   1994329    A
2     2012-08-15  40.33  40.84  39.80  40.48   2838273    A
3     2012-08-16  37.50  38.17  36.76  37.15  12797045    A
4     2012-08-17  37.23  37.29  36.81  37.22   5377626    A
5     2012-08-20  37.02  37.18  36.55  36.68   3972934    A
6     2012-08-21  36.90  37.21  36.66  37.13   5375861    A
7     2012-08-22  37.05  37.48  36.79  37.46   4383958    A
8     2012-08-23  37.23  37.56  37.07  37.47   4492168    A
9     2012-08-24  37.26  38.01  37.20  37.85   2877269    A
10    2012-08-27  37.82  37.82  37.29  37.44   3058067    A
11    2012-08-28  37.38  37.46  36.90  36.95   4960592    A
12    2012-08-29  37.07  37.31  36.93  37.16   5025385    A
13    2012-08-30  36.96  37.23  36.91  37.04   2417843    A
14    2012-08-31  37.33  37.50  36.86  37.16   2296340    A
15    2012-09-04  36.94  37.48  36.71  37.05   3850002    A
16    2012-09-05  37.06  37.20  36.62  36.74   4073647    A
17    2012-09-06  37.11  37.54  36.71  37.48   4785295    A
18    2012-09-07  37.48  38.58  37.27  38.42   3991296    A
19    2012-09-10  38.32  38.73  38.04  38.26   2877013    A
20    2012-09-11  38.24  38.28  37.83  37.83   2928782    A
21    2012-09-12  37.92  38.22  37.49  37.49   4698734    A
22    2012-09-13  37.46  38.48  37.18  38.38   5386175    A
23    2012-09-14  38.44  40.14  38.40  39.73   6736408    A
24    2012-09-17  39.46  39.82  39.24  39.63   3646448    A
25    2012-09-18  39.56  39.86  39.45  39.55   3593869    A
26    2012-09-19  39.53  40.01  39.36  39.88   2948763    A
27    2012-09-20  39.55  39.75  38.77  39.23   4443261    A
28    2012-09-21  39.53  39.82  39.00  39.00   3526354    A
29    2012-09-24  38.87  39.00  38.37  38.69   2045867    A
...          ...    ...    ...    ...    ...       ...  ...
1228  2017-06-30  59.00  59.57  58.84  59.31   1593786    A
1229  2017-07-03  59.59  59.98  59.13  59.13   1489574    A
1230  2017-07-05  59.19  60.05  59.19  59.77   1638980    A
1231  2017-07-06  59.46  59.77  59.07  59.22   2249516    A
1232  2017-07-07  59.53  60.07  59.33  59.63    965439    A
1233  2017-07-10  59.48  60.04  59.38  59.86   1146033    A
1234  2017-07-11  59.99  60.16  59.46  59.80   2976519    A
1235  2017-07-12  60.33  60.99  60.16  60.73   1439395    A
1236  2017-07-13  61.25  61.31  60.67  61.19   2060109    A
1237  2017-07-14  61.28  61.66  60.92  61.52   1286073    A
1238  2017-07-17  61.60  61.84  61.40  61.55   1332751    A
1239  2017-07-18  61.43  61.54  60.95  61.21   1520122    A
1240  2017-07-19  61.32  61.64  61.17  61.38   1512177    A
1241  2017-07-20  61.45  61.55  60.81  60.98   2009405    A
1242  2017-07-21  60.83  61.60  60.76  61.37   1283236    A
1243  2017-07-24  61.38  61.58  61.25  61.50    973808    A
1244  2017-07-25  61.57  61.66  60.38  60.54   1691988    A
1245  2017-07-26  60.58  60.81  59.39  59.72   2520698    A
1246  2017-07-27  59.82  60.24  59.60  59.91   1944962    A
1247  2017-07-28  59.91  60.23  59.61  60.08   1236434    A
1248  2017-07-31    NaN    NaN  59.76  59.79   1043729    A
1249  2017-08-01  60.04  60.29  59.80  59.94   1324251    A
1250  2017-08-02  60.00  60.33  59.52  60.20   1121566    A
1251  2017-08-03  60.15  60.44  59.97  60.37    983246    A
1252  2017-08-04  60.52  60.74  60.01  60.13    778762    A
1253  2017-08-07  60.16  60.89  60.00  60.87    975738    A
1254  2017-08-08  60.67  60.98  60.08  60.14   1162440    A
1255  2017-08-09  60.07  60.23  59.38  59.68   1965048    A
1256  2017-08-10  59.35  59.50  58.22  58.57   2471473    A
1257  2017-08-11  58.70  59.70  58.69  59.33   1511552    A

[1258 rows x 7 columns]